.main {
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
  width: 100vw;
  height: 100%;
  background-color: rgb(250, 246, 246);
  font-size: 15px;
  font-weight: 600;
}

.imagen { grid-area: header; }
.botondiv { grid-area: menu; }
.new { grid-area: main; }

.gridcontainer{
  display: grid;
  grid-template-areas:
  'header header header main main'
  'menu menu menu main main';
  gap: 4%;
  margin-top: 3%;
}
.bread {
   width: 100%;
   display: inline-flex;
   justify-content: space-between;
   color: hsl(236, 13%, 42%);
}

.bread p:hover {
   color: hsl(5, 85%, 63%);
}

.breadp  {
  display: inline-flex;
  justify-content: space-around;
  width: 40%;
  font-size: 18px;
}

.mobile {
  display: none;
}

.mob {
  display: none;
}

.imagen img {
  max-width: 108%;
}

.new {
  display: inline-block;
  background-color: hsl(240, 100%, 5%);
  padding: 2.5% 5%;
  margin-left: 11%;
  line-height: 3ch;
  letter-spacing: 0.09ch;
  width: 84%;
}

.setion   {
   padding: 10% 0% 10% 0%;
   border-bottom: 1px solid hsl(60, 0%, 58%);
}

.ultimo {
  padding-top: 9%;
  padding-bottom: 3%;
}

.new h2 {
  color: hsl(35, 77%, 62%);
  font-size: 40px;
  padding-top: 6%;
}

.new h4 {
  color: hsl(36, 100%, 99%);
  font-size: 19px;
  padding: 5% 0%;
}

.new h4:hover {
  color: hsl(35, 77%, 62%);
}

.new p {
  color: hsl(237, 10%, 64%);
  font-weight: 400;
  margin-top: -1%;
}

.botondiv {
  display: inline-flex;
  padding-top: 2%;
  width: 160%;
}

.botondiv h1 {
  font-size: 52px;
  line-height: 1.7ch;
  width: 65%;
  font-weight:900;
}

.botondiv p {
   width: 55%;
   color: hsl(236, 13%, 42%) ;
   font-size: 18px;
   line-height: 2.6ch;
   margin-left: -10%;
}

.botondiv button {
  background-color: hsl(5, 85%, 63%);
  color: white;
  font-size: 15px;
  padding: 2%;
  letter-spacing: 0.7ch;
  border-style: none;
  margin-top: 4%;
  margin-left: -10%;
  width: 28%;
  font-weight: 700;
}

.botondiv button:hover {
  background-color: hsl(240, 100%, 5%);;
  color: white;
}

.footer {
  display: inline-flex;
  justify-content: space-between;
  overflow: visible;
  width: 103%;
}

.set1, .set2, .set3 {
  display: inline-flex;
  margin-top: 5%;
}

.set2 {
  margin: 5% 1% 0% -5%;
}

.set1 img, .set2 img, .set3 img {
  width: 70%;
}

.set1 h3, .set2 h3, .set3 h3 {
  color: hsl(233, 8%, 79%);
  font-size: 26px;
  padding-bottom: 4%;
}

.set1 h4, .set2 h4, .set3 h4 {
  font-weight: 700;
  font-size: 19px;
}

.set1 h4:hover, .set2 h4:hover, .set3 h4:hover {
  color: hsl(5, 85%, 63%);;
}

.set1 p, .set2 p, .set3 p {
  color: hsl(236, 13%, 42%);
  line-height: 2.2ch;
  margin-top: 3.5%;
}

.set1 p {
  width: 70%;
}

.text1, .text2, .text3 {
  margin-left:-3%;
}

.new h4:hover,.set1 h4:hover, .set2 h4:hover, .set3 h4:hover, .botondiv button:hover, .bread p:hover   {
  cursor: url("/pointer.png"), auto;
}

.dark {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 140%;
  background: black;
  opacity: 0.5;
  z-index: 5;
}  /* este es el code para el div que me cubre toda la screen y me la oscurece*/

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
}


/* Mobile */
@media (max-width: 600px) {
  .main {
    padding: 5% 10%;
    width: 375px;
  }
  
  .gridcontainer{
    display: inline-block;
  }

  .breadp  {
    justify-content: space-around;
    position: absolute;
    width: 40%;
    height: 130%;
    display: none ;
    margin: -4% 0% 0% 18%;
    color: black;
    background-color: white;
    font-weight: 600;
    z-index: 10;
    padding: 30% 5%;
  }

  .bread p {
    margin-bottom: 20%;
  }
  
.mobile {
  display: block;
}

.menu {
   margin-top: 25%;
}

.close {
  position: absolute;
  display: none;
  z-index: 20;
  left: 275px;
} 
  .des {
    display: none;
  }

  .mob {
    display: block;
    width: 100%;
  }
  
  .imagen img {
    max-width: 108%;
  }
  
  .new {
    display: inline-block;
    padding: 2.5% 5%;
    margin: 5% 0%;
    line-height: 3ch;
    letter-spacing: 0.09ch;
    width: 100%;
  }
  
  .setion   {
     padding: 0% 0% 10% 0%;
     border-bottom: 1px solid hsl(60, 0%, 58%);
  }
  
  .ultimo {
    padding-top: 9%;
    padding-bottom: 3%;
  }
  
  .new h2 {
    font-size: 30px;
    padding-top: 10%;
  }
  
  .new h4 {
    color: hsl(36, 100%, 99%);
    font-size: 15px;
    padding: 5% 0%;
  }
  
  .new p {
    font-size: 12px;
  }
  
  .botondiv {
    display: inline-block;
    padding: 5% 2%;
    width: 100%;
  }
  
  .botondiv h1 {
    font-size: 35px;
    width: 100%;
    font-weight:700;
    line-height: 1.35ch;
  }
  
  .botondiv p {
     width: 105%;
     font-size: 12.3px;
     line-height: 3.2ch;
     margin-left: 0%;
     font-weight: 500;
     padding-top: 5%;
  }
  
  .botondiv button {
    font-size: 12px;
    padding: 4%;
    margin-top: 7%;
    margin-left: 0%;
    width: 60%;
    font-weight: 600;
  }
  

  .footer {
    display: inline-block;
    justify-content: space-between;
    width: 105%;
    margin-top: 5%;
  }
  
  .set2 {
    margin: 5% 0% 0% 0%;
  }
  
  .set1 img, .set2 img, .set3 img {
    width: 85%;
  }
  
  .set1 h3, .set2 h3, .set3 h3 {
    font-size: 20px;
    padding-bottom: 4%;
  }
  
  .set1 h4, .set2 h4, .set3 h4 {
    font-weight: 600;
    font-size: 15px;
  }
  
  .set1 p, .set2 p, .set3 p {
    line-height: 3.2ch;
    margin-top: 3.5%;
    font-size: 12px;
    font-weight: 400;
  }
  
  .set1 p {
    width: 70%;
  }
  
  .text1, .text2, .text3 {
    margin-left: -3%;
    width: 120%;
  }
  
  .new h4:hover,.menu, .close, .set1 h4:hover, .set2 h4:hover, .set3 h4:hover, .botondiv button:hover, .bread p:hover   {
    cursor: url("/pointer.png"), auto;
  }
  
}

